

  @import url('https://fonts.googleapis.com/css2?family=Outfit&family=Tapestry&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-height: 100vh;
   display:flex;
   align-items: center;
    
}

.hero {
    max-width: 360px;
    margin: 0 auto;
}

p{
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(220, 15%, 55%);
}

.container {
    background-color:  hsl(0, 0%, 100%);
    padding:18px;
    border-radius: 17px;
    box-shadow:5px 8px #888888;
    margin-top: 50%;
}

.container img {
    max-width: 100%;
    border-radius: 10px;
    
}

.bold {
    font-size: 1.5em;
    text-align: center;
    color: hsl(218, 44%, 22%);
    padding: 20px 10px ;
 }


 .attribution {
    font-size: 11px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    margin:2rem;

   
}
.attribution a { 
    color: hsl(228, 45%, 44%);

 }


 
 